Options -MultiViews
RewriteEngine On
RewriteBase /atlas/

# If the request is for a real file or folder, serve it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send everything to index.html so React can handle the route
RewriteRule . /atlas/index.html [L]